*.iml
*.ipr
*.iws
*.class
*.log
*.log.*
*.*~

ipuc-web/target/
ipuc-base/target/

ipuc-web/classes/
ipuc-base/classes/

ipuc-web/nbactions.*
ipuc-base/nbactions.*

ipuc-web/.settings/
ipuc-base/.settings/

.classpath
.project
.settings/*
.idea
