#Route to amazon ping
#GET        /ping               ping#ping

POST        /login              login#login
GET         /logout             login#logout


GET         /                   index#loginForm

GET         /register           directives#registerForm
POST        /registerPastor     directives#registerPastor

GET         /home               index#home


