#Route to amazon ping
#GET        /ping               ping#ping

POST        /login              login#login
GET         /logout             login#logout


GET         /                   index#loginForm

GET         /register           ministers#registerForm
POST        /register           ministers#register
