#Route to amazon ping
#GET        /ping                   ping#ping

POST        /login                  login#login
GET         /logout                 login#logout


GET         /                       index#loginForm

GET         /home                   index#home

#Directives paths
GET         /registerPastor             directives#registerForm
GET         /registerCongregacion       directives#registerCongregacionForm
POST        /registerPastor             directives#registerPastor
GET         /municipios/{region}        directives#getMunicipios
GET         /pastoresSinCongregacion    directives#getPastoresSinCongregacion
POST        /registerCongregacion       directives#registerCongregacion

#Ministers
GET         /registerCreyente                       ministers#registerCreyenteForm
POST        /registerCreyente                       ministers#registerCreyente
GET         /creyente/{numIdentificacion}/report    ministers#downloadCertificado
GET         /pastores                               ministers#getPastores

